# EditorConfig for WSL Setup Scripts
# https://editorconfig.org

root = true

# Default settings for all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Shell scripts
[*.sh]
indent_style = space
indent_size = 4
max_line_length = 120

# Markdown files
[*.md]
indent_style = space
indent_size = 2
max_line_length = 100
trim_trailing_whitespace = false

# JSON files
[*.json]
indent_style = space
indent_size = 2

# YAML files (if any)
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Config files
[{.gitignore,.gitattributes}]
indent_style = space
indent_size = 2

# Makefile
[Makefile]
indent_style = tab
indent_size = 4
